:root{
    --kemora-gray: #3e494d;
    --light-purple: #9d7c99;
    --dark-purple: #534252;
    --white: #e8e9ed;
    --red: #bf4254;
}

@font-face{
    font-family: bit8;
    src:url(bit8.ttf);
}

*{
    margin: 0;
    padding: 0;                                                                                                                                 
}

body,
.row1,
.row2,
.row3,
.row4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

body{
    background-color: var(--kemora-gray);
    height: 100vh;
}

.calc-border{
    width: 30rem;
    height: 40rem;
    background-color: var(--light-purple);
}

.display-panel{
    width: 25rem;
    height: 5rem;
    background-color: var(--dark-purple);
    margin: 2rem auto;
    font-family: bit8;
    font-size: 3rem;
    color: var(--white);
}

.display-text{
    position: relative;
    left: 2.75rem;
    top: 1.4rem;
}

button{
    width: 5rem;
    height: 5rem;
    background-color: var(--white);
    font-family: bit8;
    font-size: 2rem;
}

.clear{
    display: block;
    width: 20rem;   
    margin: 0 auto;
    background-color: var(--red);
}